<%- include("partials/header") %>
<center>
    <h1 id="heading">Create an Account</h1>
<div class="container" id="signup-container">
    <form action="/signup" method="post">
        <table>
            <tr>
                <td>
                <p class="label signup-label">Username</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="textbox signup-textbox" type="text" name="username">
                </td>
            </tr>
            <tr>
                <td>
                <p class="label signup-label">Password</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="textbox signup-textbox" autocomplete="off" type="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                <p class="label signup-label">Confirm Password</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="textbox signup-textbox" autocomplete="off" type="password" name="confirmPassword">
                </td>
            </tr>
            <tr>
                <td>
                <p class="label signup-label">Class</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="textbox signup-textbox" type="text" name="class">
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                    <button type="submit" class="login-button">Sign Me Up!</button>
                    </center>
                </td>
            </tr>
        </table>
    </form>
</div>
</center>
<%- include("partials/footer") %>