<%- include("partials/header") %>
<%- include("partials/bar") %>



<div class="timetable">
    <table>
        <tr>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>
        <tr>
            <td></td><td></td>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>


        <tr>
            <td>
                <div id="spacer"></div>
            </td>
        </tr>



        <tr>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>
        <tr>
            <td></td><td></td>
            <td>
                <div class="cell">Class</div>
            </td>
        </tr>
    </table>
</div>
<div id="signout" >klnnl</div>

<%- include("partials/footer") %>